body {
    font-family: 'Muli', sans-serif;
    background-image: url("../../images/1.jpg");
	 
	background-size:cover;
    
} 
/*------------------------------------- main --------------------------------------*/ 

.icon1 {
    margin: 0 0 2em;
    border: 1px solid #53b599;
    padding: .7em 0em;
    
    border-radius: 26px;
}

.header-main {
    
    width: 25%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 999;
	margin:9em auto 0;
}

#topP{
   
	text-align: center;
	font-size: 300%;
	font-family: sans-serif;
    color: #fff;
}



.header-left-bottom input[type="email"] {
    outline: none;
    font-size: 15px;
    color: #fff;
	border:none;
    width: 90%;
    display: inline-block;
    background: transparent;
	font-family: 'Muli', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}
.header-left-bottom input[type="password"]{
  outline: none;
  font-size: 15px;
    color: #fff;
  border:none;
    width: 90%;
  display: inline-block;
  background: transparent;
	font-family: 'Muli', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}
.header-left-bottom input[type="submit"] {
    background: #3be8b0;
    color: #FFF;
    font-size: 17px;
    text-transform: capitalize;
    padding: .5em 2em;
    letter-spacing: 1px;
    transition: 0.5s all;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
	font-family: 'Muli', sans-serif;
	width: 100%;
    border-radius: 25px;
}


